@tailwind base;
@tailwind components;
@tailwind utilities;

head,
body {
  background: #242424;
  color: #fff;
}

.html-logo-color {
  color: #e34c26;
}

.css-logo-color {
  color: #264de4;
}

.js-logo-color {
  color: #f0db4f;
}
